/* line 264, ../../styles/sass/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "only screen and (min-width: 768px)";
  width: 768px;
}

/* line 269, ../../styles/sass/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "only screen and (min-width:1280px)";
  width: 1280px;
}

/* line 274, ../../styles/sass/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "only screen and (min-width:1440px)";
  width: 1440px;
}

/* Foundation Block Grids for below small breakpoint */
@media only screen {
  /* line 50, ../../styles/sass/foundation/components/_block-grid.scss */
  [class*="block-grid-"] {
    display: block;
    padding: 0;
    margin: 0 -0.625em;
    *zoom: 1;
  }
  /* line 121, ../../styles/sass/foundation/components/_global.scss */
  [class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table;
  }
  /* line 122, ../../styles/sass/foundation/components/_global.scss */
  [class*="block-grid-"]:after {
    clear: both;
  }
  /* line 27, ../../styles/sass/foundation/components/_block-grid.scss */
  [class*="block-grid-"] > li {
    display: inline;
    height: auto;
    float: left;
    padding: 0 0.625em 1.25em;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-1 > li {
    width: 100%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-1 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-2 > li {
    width: 50%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-2 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-3 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-4 > li {
    width: 25%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-4 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-5 > li {
    width: 20%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-5 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-6 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-7 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-8 > li {
    width: 12.5%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-8 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-9 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-10 > li {
    width: 10%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-10 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-11 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-12 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}
/* Foundation Block Grids for above small breakpoint */
@media only screen and (min-width: 768px) {
  /* Remove small grid clearing */
  /* line 63, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: none;
  }

  /* line 63, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: none;
  }

  /* line 63, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: none;
  }

  /* line 63, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: none;
  }

  /* line 63, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: none;
  }

  /* line 63, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: none;
  }

  /* line 63, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: none;
  }

  /* line 63, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: none;
  }

  /* line 63, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: none;
  }

  /* line 63, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: none;
  }

  /* line 63, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: none;
  }

  /* line 63, ../../styles/sass/foundation/components/_block-grid.scss */
  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: none;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-1 > li {
    width: 100%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-1 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-2 > li {
    width: 50%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-2 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-3 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-4 > li {
    width: 25%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-4 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-5 > li {
    width: 20%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-5 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-6 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-7 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-8 > li {
    width: 12.5%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-8 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-9 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-10 > li {
    width: 10%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-10 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-11 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }

  /* line 36, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 0.625em 1.25em;
  }
  /* line 40, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-12 > li:nth-of-type(n) {
    clear: none;
  }
  /* line 41, ../../styles/sass/foundation/components/_block-grid.scss */
  .large-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}
/* This controls how many elements will be on each row of the block grid. */
/* Set this to whatever number you need, up to the max allowed in the variable */
/* This controls how much space is between each item in the block grid */
/* This controls whether or not base styles come through, set to false to leave out */
/* This is handy for when you create multiple block-grids and want less CSS output repetition */
/* Mixin and configurable options */
/* line 22, ../../styles/sass/tweaks.scss */
.list-grid {
  display: block;
  padding: 0;
  margin: 0 -15;
  *zoom: 1;
}
/* line 121, ../../styles/sass/foundation/components/_global.scss */
.list-grid:before, .list-grid:after {
  content: " ";
  display: table;
}
/* line 122, ../../styles/sass/foundation/components/_global.scss */
.list-grid:after {
  clear: both;
}
/* line 27, ../../styles/sass/foundation/components/_block-grid.scss */
.list-grid > li {
  display: inline;
  height: auto;
  float: left;
  padding: 0 15 30;
}

/* line 27, ../../styles/sass/tweaks.scss */
.list-grid > li {
  height: 60px;
  margin-bottom: 10px;
  margin-right: 10px;
}

/* line 74, navicon/*.png */
.navicon-sprite, .navicon-calendar, .navicon-courses, .navicon-horses, .navicon-reports, .navicon-users {
  background: url('/../static/images/navicon-s52ccaa2ccd.png') no-repeat;
}

/* line 60, ../../../../../../../../usr/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.navicon-calendar {
  background-position: 0 -128px;
}

/* line 60, ../../../../../../../../usr/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.navicon-courses {
  background-position: 0 -158px;
}

/* line 60, ../../../../../../../../usr/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.navicon-horses {
  background-position: 0 -64px;
}

/* line 60, ../../../../../../../../usr/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.navicon-reports {
  background-position: 0 -222px;
}

/* line 60, ../../../../../../../../usr/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.navicon-users {
  background-position: 0 0;
}
