{% extends "base.html" %}
{% load i18n %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>{% trans "Id" %}</th>
            <th>{% trans "Order date" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Target" %}</th>
            <th>{% trans "Product" %}</th>
            <th>{% trans "Transaction" %}</th>
            <th>{% trans "Total" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for o in order_list %}
    {% if o.is_shipped and o.is_paid %}
    <tr>
        <td>{{ o.id }}</td>
        <td>{{ o.created }}</td>
        <td>{{ o.get_status_display }}</td>
        <td>{{ o.shipping_address_text }}</td>
        <td>
            {% for i in o.items.all %}
                {{ i.product_name }}{% if i.quantity > 1 %} ({{ i.quantity }} kpl){% endif %}<br/>
            {% endfor %}
        </td>
        <td>{{ o.orderpayment_set.all.0.transaction_id }}</td>
        <td>{{ o.order_total }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
