{% extends "shop/base.html" %}
{% load stables_shop_tags %}

{% block css %}
<style>
.buy-button {
    margin-top: -30px;
}
</style>
{% endblock %}

{% block body %}
<h1>Valitse tuote</h1><span> tai syötä koodi:</span><input type="text" name="code" id="pay_code" /><button onclick="window.location.href = '/shopper/pay/'+$('#pay_code').val()">ok</button>

<div class="list-group">
{% for object in object_list|orderproducts %}
  <div class="list-group-item col-md-6">
      <h4 class="list-group-item-heading">{{ object.get_name }}</h4>
      <form method="post" action="{% url "cart" %}">
      {% csrf_token %}
      <input type="hidden" name="add_item_id" value="{{ object.id }}" />
      <input type="hidden" name="add_item_quantity" value="1" />
      <button type="submit" class="pull-right btn btn-primary btn-lg buy-button">Osta</button>
      </form>
      <p class="list-group-item-text">
      {{ object.unit_price|add_vat }} sis. alv<br/>
      {{ object.long_description }}
      </p>
  </div>
  <span>
      {{ object.long_desription }}
  </span>
{% endfor %}
</div>


{% endblock %}
