{% load i18n sekizai_tags %}
{% load compress staticfiles tags %}
<!doctype html>
<html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
 <head>
  <title>Talli.fi</title>
  {% render_block "css" %}
    <!-- All JavaScript at the bottom, except this Modernizr build.
         Modernizr enables HTML5 elements & feature detects for optimal performance.
         Create your own custom Modernizr build: www.modernizr.com/download/ -->
    {% compress css %}
    {% block base_css %}
    <link rel="stylesheet" href="{% static 'theme/css/bootstrap.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'theme/css/base-admin-3.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'theme/css/font-awesome.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'theme/css/ui-lightness/jquery-ui-1.10.0.custom.min.css' %}" type="text/css"/>
    <link href="{{ STATIC_URL }}theme/js/plugins/lightbox/themes/evolution-dark/jquery.lightbox.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'theme/css/pages/dashboard.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'theme/css/custom.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'stylesheets/tweaks.css' %}" type="text/css"/>
    {% endblock base_css %}
    {% endcompress %}
 </head>
 <body>
   {% block body %}
   <header class="navbar">This is HTML5 Header</header>
   <nav class="subnavbar">
    <div class="subnavbar-inner">
    <div class="container">
    <ul class="mainnav">
        <li {% active request 'dashboard' %}><a href="{% url 'dashboard' %}"><i class="icon-calendar"></i><span>{% trans 'Calendar' %}</span></a></li>
        <li {% active request 'list_course' %}><a href="{% url 'list_course' %}"><i class="icon-list-ul"></i><span>{% trans 'Courses' %}</span></a></li>
        <li {% active request 'list_horse' %}><a href="{% url 'list_horse' %}"><i class="icon-heart"></i><span>{% trans 'Horses' %}</span></a></li>
        <li {% active request 'reporting-list' %}><a href="{% url 'reporting-list' %}"><i class="icon-bar-chart"></i><span>{% trans 'Reports' %}</span></a></li>
        <li {% active request 'user-list' %}><a href="{% url 'user-list' %}"><i class="icon-group"></i><span>{% trans 'Users' %}</span></a></li>
    </ul>
    </div>
    </div>
   </nav>
   <div id="content" class="main">
   <div class="container">
   {% block content %}
   {% endblock content %}
   </div>
   </div>
   <footer class="footer">This is HTML5 Footer</footer>
   {% endblock body %}
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <!--
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}theme/js/libs/jquery-1.9.1.min.js"><\/script>')</script>
    -->

  <!-- scripts concatenated and minified via build script -->
  <script src="{{ STATIC_URL }}theme/js/libs/jquery-1.9.1.min.js"></script>
  <script src="{{ STATIC_URL }}theme/js/libs/jquery-ui-1.10.0.custom.min.js"></script>
  <script src="{{ STATIC_URL }}theme/js/libs/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}theme/js/plugins/msgGrowl/js/msgGrowl.js"></script>
  <script src="{{ STATIC_URL }}theme/js/plugins/lightbox/jquery.lightbox.min.js"></script>
  <script src="{{ STATIC_URL }}theme/js/plugins/msgbox/jquery.msgbox.min.js"></script>
  <script src="{{ STATIC_URL }}theme/js/plugins/validate/jquery.validate.js"></script>
  <script src="{{ STATIC_URL }}theme/js/Application.js"></script>
  <script src="{{ STATIC_URL }}js/base.js"></script>
  {% render_block "js" %}
 </body>
</html>
