{% extends "public/base.html" %}
{% load cms_tags %}
{% load sekizai_tags staticfiles %}
{% load public_tags %}

{% block content %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static "theme/clean-canvas/css/compiled/features.css" %}" type="text/css" />    
{% endaddtoblock %}

  <div id='features' class="features_page">
      <div class="container">
        <div class="feature_wrapper option1">
          <div class="section_header">
              <h3>{{ current_page.get_title }}</h3>
          </div>
          <div class="row subtitle">
              {% placeholder subtitle %}
          </div>
          {% get_features %}
        </div>
      </div>
  </div>
{% endblock content %}
